{% for link in section.settings.desktop_nav_link_list.links %}
  <li
    {% if link.levels == 1 %}
      class="relative"
    {% endif %}
    x-data="{ show: false, timeout: null }"
  >
    <a
      class="flex flex-row gap-1 items-center cursor-pointer select-none hover:scale-105 transition-transform {% if link.active %} underline {% endif %}"
      href="{{ link.url }}"

      {% if link.links != blank %}
        @mouseEnter="show = true"
        @mouseLeave="timeout = setTimeout(() => show = false, 300)"
      {% endif %}
    >
      {{ link.title }}

      {% if link.links != blank %}
        {% render 'icons',
          type: "chevron-down",
          class: "w-5 h-5 mt-0.5"
        %}
      {% endif %}
    </a>
  
    {% if link.links != blank %}
      {% if link.levels == 1 %}
        <ul
          class="z-20 absolute left-1/2 -translate-x-1/2 translate-y-2 text-left p-4 bg-base-300 flex flex-col gap-1 transition-opacity"
          x-cloak
          x-show="show"
          @mouseEnter="show = true; clearTimeout(timeout)"
          @mouseLeave="show = false"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
        >
          {% for child_link in link.links %}
            <li class="text-lg w-max hover:scale-105 transition-transform">
              <a
                {% if child_link.active %}
                  class="underline"
                {% endif %}
    
                href="{{ child_link.url }}"
              >
                {{ child_link.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <ul
          class="z-20 absolute left-0 translate-y-2 text-left p-4 xl:p-8 bg-base-300 w-full grid lg:grid-cols-2 xl:grid-cols-3 gap-8 max-h-[70vh] overflow-y-auto transition-opacity"
          x-cloak
          x-show="show"
          @mouseEnter="show = true; clearTimeout(timeout)"
          @mouseLeave="show = false"
          x-transition:enter-start="opacity-0"
          x-transition:enter-end="opacity-100"
          x-transition:leave-start="opacity-100"
          x-transition:leave-end="opacity-0"
        >
          {% for child_link in link.links %}
            <li class="w-full">
              <a
                {% if child_link.active %}
                  class="font-semibold underline"
                {% else %}
                  class="block font-semibold hover:scale-105 transition-transform"
                {% endif %}

                href="{{ child_link.url }}"
              >
                {{ child_link.title }}
              </a>

              <ul class="mt-1 flex flex-col gap-2 text-lg">
                {% for grandchild_link in child_link.links %}
                  <li>
                    <a
                      {% if grandchild_link.active %}
                        class="font-semibold underline"
                      {% else %}
                        class="block hover:scale-105 transition-transform"
                      {% endif %}
          
                      href="{{ grandchild_link.url }}"
                    >
                      {{ grandchild_link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  </li>
{% endfor %}